.library{
    background-color: #121212;
    border-radius: 10px;
    padding: .8vw 0vw .8vw 2vw;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1.3vw;
    flex: 1;
}
.first-child > img, .third-child>img, .third-child img{
    filter: invert(1);
    cursor: pointer;
}
span{
    cursor: pointer;
}
.first-child{
    display: flex;
    align-items: center;
    gap: 1.2vw;
    span{
        font-size: 1vw;
    }
}
.first-child > :nth-child(3) {
    position: absolute;
    right: 1vw;
}
.second-child{
    display: flex;
    gap: .5vw;
}
.third-child{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 1vw;
    div{
        display: flex;
        align-items: center;
        gap: 5px;

    }
}

.VerticalCard{
    overflow: auto;
    max-height: calc(100vh - 61vh);
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.VerticalCard>img{
    border-radius: 5px;
}