.main {
    max-height: calc(100vh - 13vh);
    min-width: 75%;
    height: calc(100vh - 13vh);
    width: 75%;
    height: calc(100vh - 13vh);
    border-radius: 10px;
    padding: 1vw;
    background-color: var(--background);
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: relative;
    overflow-x: hidden;
}