.controller{
    min-width: 98vw;
    border-radius: 10px;
    min-height: 10vh;
    background-color:var(--background);
    position: relative;
    padding: 0px 10px;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.controller .now-playing{
    max-height: 80%;
    flex: 1;
}
.controllers{
    width: 100%;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.controllers .control-btn{
    display: flex;
    gap: 40px;

}
.control-btn>:nth-child(2){
    transform: scale(1.7);
}
.control-btn>img, .volume>img{
    filter: invert(1);
    width: 38px;
}
.volume{
    display: flex;
    justify-content: flex-end;
    flex: 1;
}