.controller{
    min-width: 98vw;
    border-radius: 10px;
    height: 10vh;
    background-color:var(--background);
    /* position: absolute; */
    padding: 0px 10px;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    align-items: center;
}
.controller .now-playing{
    min-width: 24%;
    max-height: 80%;
}
.controllers{
    width: 100%;
    height: 100%;
    flex: 1.5;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;
}
.controllers .control-btn{
    display: flex;
    gap: 30px;
    align-items: center;

}
.control-btn>:nth-child(2){
    transform: scale(1.9);
}
.control-btn>img, .volume>img{
    filter: invert(1);
    width: 33px;
    cursor: pointer;
}
.control-btn>img:hover, .volume>img:hover{
    opacity: .5 ;
}
.player-range{
    height: 100%;
    flex: 2;
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: center;
}
.progress-bar{
    min-width: 65%;
    height: 10%;
    background-color: #FFFFFF;
    border-radius: 10px;
    position: relative;
}
.progress-bar > .hr-with-dot{
    width: 0%;
    height: 100%;
    border-radius: inherit;
    background-color: #2A2A2A;
    position: relative;
    display: flex;
    align-items: center;
}

.hr-with-dot::after {
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgb(78, 78, 78);
    position: absolute;
    top: 50%;
    right: 0;
    cursor: pointer;
    transform: translate(50%, -50%);
}
.volume{
    display: flex;
    justify-content: flex-end;
    flex: .5;
    gap: 10px;
    height: 100%;
    align-items: center;
}
.volume > .progress-bar{
    height: 75;
}
.no-track > *{
    opacity: .5;
    user-select: none;
    pointer-events: none;
}